<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if CLAIM_GOOGLE %}
        {% include '_includes/claim_google.html' with context %}
        {% endif %}
        {% if CLAIM_BING %}
        {% include '_includes/claim_bing.html' with context %}

        {% endif %}
        {% if article and article.author %}
        <meta name="author" content="{{ article.author }}" />
        {% elif page and page.author %}
        <meta name="author" content="{{ page.author }}" />
        {% else %}
        <meta name="author" content="{{ AUTHOR }}" />
        {% endif %}

        {% set is_zh = DEFAULT_LANG == 'zh' %}
        {% from '_includes/_defaults.html' import SITE_DESCRIPTION with context %}
        {% if SITE_DESCRIPTION %}
        <meta name="description" content="{% block head_description %}{{ SITE_DESCRIPTION|e }}{% endblock head_description %}" />
        {% endif %}
        {% block meta_tags_in_head %}
        {% from '_includes/_defaults.html' import TWITTER_USERNAME with context %}
        {%if TWITTER_USERNAME %}
        <meta name="twitter:creator" content="@{{TWITTER_USERNAME}}">
        {% endif %}
        <meta property="og:type" content="article" />
        <meta name="twitter:card" content="summary">
        {% endblock meta_tags_in_head %}
        <title>{% block title %}{{ SITENAME|striptags|e }}{% endblock title %}</title>
        {% block head_links %}
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
        {% if 'assets' in PLUGINS %}
        {% include '_includes/minify_css.html' with context %}
        {% else %}
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/elegant.prod.css" media="screen">
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/custom.css" media="screen">
        {% endif %}
        <style>
            .language-menu .dropdown-toggle {
                padding-left: 10px;
                padding-right: 10px;
            }

            .language-menu .dropdown-toggle svg {
                width: 18px;
                height: 18px;
                vertical-align: middle;
                fill: currentColor;
            }

            .language-menu .dropdown-menu {
                left: auto;
                right: 0;
                min-width: 120px;
            }

            .language-menu .dropdown-menu .active > a,
            .language-menu .dropdown-menu .active > a:hover {
                background: #f5f5f5;
                color: #333;
            }
        </style>
        {% endblock head_links %}
        {% include '_includes/favicon_links.html' %}
        {% block feed_links %}
        {% include '_includes/feeds.html' %}
        {% endblock feed_links %}
        {% include '_includes/analytics.html' %}
    </head>
    <body>
        <div id="content">
            <div class="navbar navbar-static-top">
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a class="brand" href="{{ SITEURL }}/"><span class=site-name>{{ SITENAME }}</span></a>
                        <div class="nav-collapse collapse">
                            <ul class="nav pull-right top-menu">
                                <li {% if page_name == 'index' %} class="active"{% endif %}>
                                    <a href=
                                       {% if SITEURL %}
                                       {{ SITEURL }}
                                       {% else %}
                                       "/"
                                       {% endif %}
                                    >{{ '首页' if is_zh else 'Home' }}</a>
                                </li>
                                <li {% if page and page.slug == 'books' %} class="active"{% endif %}><a href="{{ main_siteurl }}/books.html">书籍</a></li>
                                {% if DISPLAY_PAGES_ON_MENU %}
                                {% for p in pages %}
                                <li {% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                                {% endfor %}
                                {% endif %}
                                {% from '_includes/_defaults.html' import TAGS_URL, CATEGORIES_URL, ARCHIVES_URL, SEARCH_URL with context %}
                                <li {% if page_name == 'categories' %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ CATEGORIES_URL }}">{{ '分类' if is_zh else 'Categories' }}</a></li>
                                <li {% if page_name == 'tags' %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ TAGS_URL }}">{{ '标签' if is_zh else 'Tags' }}</a></li>
                                <li {% if page_name == 'archives' %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ ARCHIVES_URL }}">{{ '归档' if is_zh else 'Archives' }}</a></li>
                                <li><form class="navbar-search" action="{{ SITEURL }}/{{ SEARCH_URL }}" onsubmit="return validateForm(this.elements['q'].value);"> <input type="text" class="search-query" placeholder="{{ '搜索' if is_zh else 'Search' }}" name="q" id="tipue_search_input"></form></li>
                                {% if lang_siteurls %}
                                <li class="dropdown language-menu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-label="Language menu" title="{{ '语言切换' if is_zh else 'Language switcher' }}">
                                        <svg viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                                            <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm6.93 6h-2.95a15.65 15.65 0 0 0-1.38-3.56A8.03 8.03 0 0 1 18.93 8zM12 4.04c.83 1.2 1.51 2.53 2 3.96h-4c.49-1.43 1.17-2.76 2-3.96zM4.26 14A8.14 8.14 0 0 1 4 12c0-.69.09-1.36.26-2h3.42a16.8 16.8 0 0 0 0 4H4.26zm.81 2h2.95a15.65 15.65 0 0 0 1.38 3.56A8.03 8.03 0 0 1 5.07 16zM8.02 8H5.07a8.03 8.03 0 0 1 4.33-3.56A15.65 15.65 0 0 0 8.02 8zM12 19.96A13.56 13.56 0 0 1 10 16h4c-.49 1.43-1.17 2.76-2 3.96zM14.34 14H9.66a14.9 14.9 0 0 1 0-4h4.68c.22.64.32 1.31.32 2s-.1 1.36-.32 2zm.26 5.56A15.65 15.65 0 0 0 15.98 16h2.95a8.03 8.03 0 0 1-4.33 3.56zM16.32 14a16.8 16.8 0 0 0 0-4h3.42c.17.64.26 1.31.26 2s-.09 1.36-.26 2h-3.42z"></path>
                                        </svg>
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        {% for lang, url in lang_siteurls.items() %}
                                        <li{% if lang == DEFAULT_LANG %} class="active"{% endif %}><a href="{{ url }}/">{{ '中文' if lang == 'zh' else 'English' if lang == 'en' else lang }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span1"></div>
                    <div class="span10">
                        {% block content %}
                        {% endblock content %}
                    </div>
                    <div class="span1"></div>
                </div>
            </div>
        </div>
        {% include '_includes/footer.html' %}
        {% block script %}
        {% if AMAZON_BESTAZON %}
            {% include '_includes/bestazon.html' %}
        {% endif %}
        <script src="//code.jquery.com/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
        <script>
            function validateForm(query)
            {
                return (query.length > 0);
            }
        </script>
        {% endblock script %}
        {% include '_includes/stat_counter.html' %}
    </body>
    <!-- Theme: Elegant built for Pelican
        License : MIT -->
</html>
